<html>
<head>
  <title>Snow Whirl</title>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
</head>

<body>

<div ng-app="snowwhirl" ng-controller="insta">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2>Showing popular Instagram pics
          </h2>
        </div>
      </div>
        <div class="row">
    <div ng-repeat="p in pics | orderBy:orderBy" class="col-md-2">
      <a href="{{p.link}}" target="_blank"><img ng-src="{{p.images.low_resolution.url}}" class="img-responsive thumbnail" title="{{p.caption.text}}">
     
      </a>
<span class="glyphicon" style="glyphicon-heart"> {{p.likes.count}}</span>      
        </div>
    </div>
     <button type="button" class="btn btn-success" ng-click="getMore()">
              Click to see more
              <!-- <div hid>{{pics.length}}</div> -->
            </button>
</div>


<script src="app.js"></script>
</body>


</style>
</html>