<html>
<head>
  <title>Snow Whirl</title>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
</head>

<body>

<div ng-app="snowwhirl" ng-controller="insta">
    <div class="container">
      <center><h1>Snow Whirl</h1></center>
      <div class="row">
        <div class="col-md-12">
          <h2>Popular Instagram pics</h2>
        </div>
      </div>
    </div>

  <div class="bar">
    <a class="grid-icon" ng-class="{active: isLayout('grid')}" ng-click="setLayout('grid')"></a>
  </div>

  <ul ng-show="isLayout('grid')" class="grid">
    <li ng-repeat="p in pics">
      <a href="{{p.link}}" target="_blank"><img ng-src="{{p.images.low_resolution.url}}" /></a>
    </li>
  </ul>

    <center>
  <button type="button" class="btn btn-success" ng-click="getMore()">Click to See More
  </button>
  </center>


</div>


</div>


<link src="app.css" rel="stylesheet" type="text/css">
<script src="app.js"></script>
</body>

</html>